body{
    /*Caminho para a foto saindo da pasta css e entrano na de fotos */
    background-image: url('../projeto_fotos_site/EscapeRoom1.png');
    background-size: cover;/* Faz a imagem cobrir a tela toda*/;
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color:#0d0d0d; /*Fundo reserva caso a imagem falhe */

    color: #ffffff;
    font-family: 'Courier New', Courier,monospace;
    text-align:right;
    margin: 10px;
    padding: 100px;
}


/* Estilo dos Botões */
.btn-escape {
    background-color: #980303; /* Vermelho sangue */
    color: white;
    padding: 15px 15px;
    border: 2px solid #5a0000;
    border-radius:100px;
    cursor: pointer;
    font-size:20px;
    text-decoration:none;
    transition: 0.3s;
    display: inline-block;
    margin: 450px 20px 20px 20px;
}

/* Efeito ao passar o mouse */
.btn-escape:hover {
    background-color: #ff0000;
    box-shadow: 0 0 15px #ff0000;
}

/* Aplicando a fonte Special Elite em todo o site */
* {
    font-family: 'Special Elite', cursive;
}


/* --- BOTÃO 1: AZUL VIBRANTE (Retangular) --- */
.btn-azul {
    background-color: #0047ab;
    color: white;
    padding: 15px 30px;
    border: 2px solid #002355;
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    transition: 0.3s;
}
.btn-azul:hover { background-color: #007bff; box-shadow: 0 0 15px #007bff; }

/* --- BOTÃO 2: VERDE "HACKER" (Bordas Arredondadas) --- */
.btn-verde {
    background-color: #006400;
    color: #00ff00;
    padding: 15px 30px;
    border: 2px solid #00ff00;
    border-radius: 20px; /* Arredondado */
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    transition: 0.3s;
}
.btn-verde:hover { background-color: #00ff00; color: black; }

/* --- BOTÃO 3: AMARELO ALERTA (Circular/Oval) --- */
.btn-amarelo {
    background-color: #ffcc00;
    color: black;
    padding: 25px 20px;
    border: 3px dashed black;
    border-radius: 50%; /* Faz ficar oval/circular */
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    font-weight: bold;
    transition: 0.3s;
}
.btn-amarelo:hover { transform: scale(1.1); background-color: #ffff00; }
 
