body{
    /*Caminho para a foto saindo da pasta css e entrano na de fotos */
    background-image: url('../projeto_fotos_site/EscapeRoom1.png');
    background-size: cover;/* Faz a imagem cobrir a tela toda*/;
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color:#0d0d0d; /*Fundo reserva caso a imagem falhe */

    color: #ffffff;
    font-family: 'Courier New', Courier,monospace;
    text-align:right;
    margin: 10px;
    padding: 100px;
}


/* Estilo dos Botões */
.btn-escape {
    background-color: #980303; /* Vermelho sangue */
    color: white;
    padding: 15px 15px;
    border: 2px solid #5a0000;
    border-radius:100px;
    cursor: pointer;
    font-size:20px;
    text-decoration:none;
    transition: 0.3s;
    display: inline-block;
    margin: 450px 20px 20px 20px;
}

/* Efeito ao passar o mouse */
.btn-escape:hover {
    background-color: #ff0000;
    box-shadow: 0 0 15px #ff0000;
}


 
