body{
    /*Caminho para a foto saindo da pasta css e entrano na de fotos */
    background-image: url('../projeto_fotos_site/EscapeRoom1.png');
    background-size: cover;/* Faz a imagem cobrir a tela toda*/;
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color:#0d0d0d; /*Fundo reserva caso a imagem falhe */

    color: #ffffff;
    font-family: 'Courier New', Courier,monospace;
    text-align:right;
    margin: 10px;
    padding: 100px;

        padding: 0 !important; /* Anula os 100px do CSS principal */
        text-align: center !important; /* Garante que o robô fique no meio, não na direita */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;

    }


/* Estilo dos Botões */
.btn-escape {
    background-color: #980303; /* Vermelho sangue */
    color: black;
    padding: 15px 30px;
    border: 2px solid #5a0000;
    border-radius:30px;
    cursor: pointer;
    font-size:20px;
    text-decoration:none;
    transition: 0.3s;
    display: inline-block;
    margin: 10px;
}

/* Efeito ao passar o mouse */
.btn-escape:hover {
    background-color: #ff0000;
    box-shadow: 0 0 15px #ff0000;
}

/* Aplicando a fonte Special Elite em todo o site */
* {
    font-family: 'Special Elite', cursive;
}


/* Estilizando o botão de imagem */
.botao-chave img {
    width: 80px; /* Tamanho da chave na tela */
    border-radius: 50%; /* Como a keywhite é redonda, isso ajuda no contorno */
    transition: all 0.4s ease; /* Suaviza o movimento */
    cursor: pointer;
    border: 3px solid transparent;
}

/* Efeito de destaque quando o jogador encontra a chave */
.botao-chave img:hover {
    transform: scale(1.1) rotate(45deg); /* Aumenta e gira levemente */
    filter: drop-shadow(0 0 20px #ffffff); /* Cria um brilho branco atrás */
    border: 3px solid #ffffff; /* Aparece uma borda branca */
}

/* --- BOTÃO 2: VERDE "HACKER" (Bordas Arredondadas) --- */
.btn-verde {
    background-color: #006400;
    color: #00ff00;
    padding: 15px 30px;
    border: 2px solid #00ff00;
    border-radius: 30px; /* Arredondado */
    cursor: pointer;
    font-size:20px;
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    transition: 0.3s;
}
.btn-verde:hover { background-color: #00ff00; color: black; }


